<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" width="1505" cellspacing="0">
        <tr bgcolor="green">
            <td width="55%" align="center"><font color="white">let's go shopping together</font></td>
        </tr>
        <table border="1" width="600px" height="900px" cellspacing="0" bgcolor="#00ab41" align="left">
               <tr>
                 <td valign="top" align="left"><font color="white" size="10"><b><u>BUDGET</u></b></font><br><br><br><br><br><br><br><br><h3 align="center"><font face="italic"><b>POCKET FRIENDLY SHOPPING,<br>ENJOY EACH SHOPPING</b></font></h3></td>
                 
               </tr>
         </table>
        <!-- <table border="1" width="1200px" height="400px" cellspacing="0px"  valign="top" align="right">
     

        </table> -->
     
        
 </table>
 <table border="1" width="900px" height="900px" cellspacing="0px"  align="right" valign="top">
        <tr bgcolor="#003C54" width="600">
         <td valign="top" align="center">
             <table border="0" width="800px" height="25px" cellspacing="0" >
                 <tr><h3>
                     <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#id1"><u><font color="white">HOME</font></u></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         <a href="about.html"><u><font color="white">ABOUT US</font></u></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         <a href="#"><u><font color="white">CONTACT US</font></u></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         <a href="#"><u><font color="white">UPDATES</font></u></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         <a href="#"><u><font color="white">OFFERS</font></u></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         <a href="#"><u><font color="white">PURCHASE</font></u></a>
                         <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><h4 align="center"><font color="white">BALANCING YOUR BUDGET......!</font></h4>
                         </td>
                         
                    </h3>

                     
                 </tr>

             </table>
            

         </td>
         
           

         </tr>
     

 </table>
 
    
</body>
</html>
    
